@import "src/app/styles/ui-styles.scss";
:host {
     @include clearStyles();
     margin: 10px 10px 10px 10px;
    @include flexCenter(column);
    .search-form-container{
            .radio-container {
                display: block;
                >input{
                    width: 50px;
                }
                @include flexCenter(row);
            }
            .selection-container{
            padding: 15px;
            @include flexCenter(row);
            .select-container{
            height: 50px;
                padding: 15px;
                @include flexCenter(column);
            }
            .submit-button {
                padding-top: 15px;
            }      
        }
    }
    .bookingform-container{
             @include flexCenter(column);
             .name-container{
                @include flexCenter(row);
             }
             .flight-selection-container{
                @include flexCenter(row);
             }
        }
    
}