<h2>New Flight Schedule Form</h2>

<form [formGroup]="form" (ngSubmit)="createScheduler()">

    <label for="departureTime">Departure Time</label>
    <input type="datetime-local" name="departureTime" [min]="minDate" formControlName="departureDateTime">
    <small *ngIf="form.controls['departureDateTime'].invalid">Please select Departure DateTime</small>

    <label for="arrivalTime">Arrival Time</label>
    <input type="datetime-local" name="arrivalTime" [min]="minDate" formControlName="arrivalDateTime">
    <small *ngIf="form.controls['arrivalDateTime'].invalid">Please select Arrival Date Time</small>
    <div>
        <label *ngIf="form.controls['departureDateTime'].value && form.controls['arrivalDateTime'].value">Total Journey
            Time
            : {{journeyTime}}</label>
    </div>

    <button type="submit" [disabled]="form.invalid">Add Flight Schedule</button>

</form>
<h2>Flight list</h2>

<table spacing="0">
    <thead>
        <tr>
            <th>Departure Date</th>
            <th>Departure Time</th>
            <th>Arrival Date</th>
            <th>Arrival Time</th>
            <th>Total Journey Time</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let schedule of flightSchedulers">
            <td>{{schedule.departureDateTime | date }}</td>
            <td>{{schedule.departureDateTime | date: 'HH:MM'}}</td>
            <td>{{schedule.arrivalDateTime | date}}</td>
            <td>{{schedule.arrivalDateTime | date : 'HH:MM'}}</td>
            <td>{{schedule.journeyTime}}</td>
        </tr>
    </tbody>
</table>
<a [routerLink]="['']">Home</a>
<a [routerLink]="['/flights']">Back</a>