// consuming of standard style handling technique

@import "src/app/styles/ui-styles.scss";
:host {
     @include clearStyles();
     margin: 10px 10px 10px 10px;
    @include flexCenter(column);
    .search-form-container{
            .radio-container {
                display: block;
                >input{
                    width: 50px;
                }
                @include flexCenter(row);
                div {
                    margin-left: 25px;
                }
            }
            .selection-container{
            padding: 15px;
            @include flexCenter(row);
            .select-container{
                padding: 15px;
                margin-top: 10px;
                @include flexCenter(row);
                select {
                    height: 25px;
                }
                input {
                    margin-left: 10px;
                }
            }
            .submit-button {
                padding-top: 10px;
            }      
        }
    }
    .bookingform-container{
             @include flexCenter(column);
             .name-container{
                @include flexCenter(row);
             }
             .flight-selection-container{
                @include flexCenter(row);
            }
            .submit-button {
                padding-top: 15px;
            } 
    }
    .success{
        color: green;

    }
    .error{
        color:red;

    }
    
} 